body{
	background: #000;
	color:#fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:0;
	margin:0;
}

#reset{
	height: 65px;
	width: 65px;
	cursor: pointer
}
h1{
	color: #FF9500;
	font-family: Arial;
}

img{
	width: 100px;
	height: 100px;
}
#temporizador{

	background: #151515;
	font-size: 60px;
height: 200px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
display: none;
}

#end{
margin-top: 30px;
color:#fff;
}


#inputs{

	display: flex;
	background: transparent;
	height: 50px;
	border-radius: 8px;
	background: red;
}
input{
		border: 1px solid #fff;
	background: #fff;
	outline: none;
	font-size: 30px;
	text-align: center;
	color:#000;
}

button{
	cursor: pointer;
 border-left: 1px solid black;
 border-right: none;
  border-bottom: none;
  border-top: none;
font-family: Arial;


}

#buttons{
	display: none;
	padding:10px;
	border-radius: 4px;

}

#stop, #start{
padding:20px;
}

.button-image{
	display: flex;
	align-items: center;
border: 1px solid #151515;
padding: 0;
margin: 0;
border-radius: 4px;

}
.button-image:hover{
	background: white;
	cursor: pointer;
}
#stop1{
	height: 50px;
	width: 50px
}

#reset{
	height: 65px;
	width: 65px;
	cursor: pointer;
}

#conv{
	margin-top:20px;
}